# Service file for noise

[Unit]
Description=Fruitnanny daemon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/opt/fruitnanny/bin/fruitnanny-daemon.py
LimitNOFILE=8000
WorkingDirectory=/opt/fruitnanny
KillMode=mixed
Restart=on-failure
User=pi
Group=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=noise
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
